body {
  margin: 0;
  background-color: #FFFFFF;
}

nav {
  background-color: #0E2954;
  padding: 20px;


}

.logo{

width: 5em;
height: 5em;

}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 10px;
  font-size: 20px;

}

nav ul li a {
  color: #FFFFFF;
  text-decoration: none;
  padding: 5px;
}

 a:hover {
  color: #F2BE22;
}

th {
  color: #607EAA;
}

.heroban {
  position: relative;
  text-align: center;
  color: white;
}

.banner1 {
  width: 100%;
  height: 35rem;
}

.title {
  font-size: 5rem;
}

.centered1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h1 {
  margin: 8px;
  color: #1C3879;
}

table, th, td {
  margin-left: 8px;
  padding: 10px;
  border: 1px solid;
}

table {
  border-collapse: collapse;
}

.stats {
  display: flex;
  justify-content: space-around;
}



.table1 {
  padding: 10px;
}

.footer {
  height: 20rem;
  padding: 2rem;
  display: flex;
  justify-content: space-around;
  background-color: #0E2954;

}

a {
  font-family: sans-serif;
  text-decoration: none;

}



.frame {
  margin-left: 15%;
  margin-right: 15%;
}

.form {
  margin-left: 20px;
}

.courseslist ul li {
  color: #0E2954;
  font-size: 2rem;
}
